@model BlogWeb.Models.Blog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TieuDe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnhTieuDe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnhTieuDe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoView)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoView)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.XuatBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.XuatBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Khoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Khoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LyDoKhoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LyDoKhoa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
